<h1>Items</h1>

<%= form_tag items_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<div id="items">
  <% @items.each do |item| %>
    <p>
      <strong>Name:</strong> <%= link_to "#{item.name}",item %><br>
      <strong>Description:</strong> <%= item.description %><br>
      <strong>Price:</strong> <%= item.price %><br>
    </p>
  <% end %>
</div>